<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name='description' content='{{ page_description | escape }}'>
    <link rel='icon' href='{{ 'favicon.ico' | asset_url }}' type='image/x-icon'>
    <link rel='canonical' href='{{ canonical_url }}'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    {{ content_for_header }}
    <link href='{{ 'application.css' | asset_url }}' rel='stylesheet'>
    <link href='{{ 'fonts.css' | asset_url }}' rel='stylesheet'>
    <script type='module' src='{{ 'application.js' | asset_url }}' defer></script>
  </head>
  <body class='font-inter'>
    <div
      id='toast-container'
      class='fixed top-0 left-0 z-50 w-full px-4 py-2'
    ></div>
    {% section 'template-header' %}
    <main role='main' class='min-h-full'>
      {{ content_for_layout }}
    </main>
    {% section 'template-footer' %}
  </body>
</html>
