<div class='container mx-auto'>
  <h1 class='my-4 text-center text-xl uppercase'>{{ 'labels.search_results' | t }}</h1>
  {% comment %}
    <div class='flex items-center justify-center'>
      <form
        id='searchForm'
        action='{{ routes.search_url }}'
        method='get'
        class='flex rounded-sm border'
      >
        <input
          type='text'
          name='q'
          placeholder='Search'
          value='{{ search.terms | escape }}'
          class='w-80 border-none px-4 py-2 outline-none focus:ring-0'
        >
        <button
          type='submit'
          class='cursor-pointer rounded-sm border bg-orange-600 px-4 text-white hover:bg-orange-400'
        >
          {{ 'buttons.search' | t }}
        </button>
      </form>
    </div>
  {% endcomment %}
  <div id='searchResults'>
    {% paginate search.results by 10 %}
      {% if search.performed %}
        {% if search.results.size > 0 %}
          <div class='mx-auto max-w-6xl'>
            <p class='my-10 text-center text-gray-500'>
              {{ search.results.size }}
              {{ 'labels.results_for_the_search_term' | t }}
              {{ search.terms | escape }}
            </p>
            <div class='flex flex-wrap justify-center gap-4'>
              {% for item in search.results %}
                {% case item.object_type %}
                  {% when 'product' %}
                    {% render 'product-card', product_product: item %}
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <div class='my-10 text-center'>
            <p>
              {{ 'labels.no_result_found_prefix' | t }}
              {{ search.terms | escape }}
              {{ 'labels.different_keyword_sufix' | t }}
            </p>
          </div>
        {% endif %}
      {% endif %}
      {% render 'pagination', pagination: paginate %}
    {% endpaginate %}
  </div>
</div>
