<div class='mx-auto max-w-6xl p-6'>
  <div class='flex flex-col gap-8 md:flex-row'>
    <test-product-image-gallery
      product-handle='{{ product.handle }}'
      variants='{{ product.variants | json }}'
    >
      {% render 'product-image-gallery' %}
    </test-product-image-gallery>
    <div class='mx-2 hidden w-px border border-orange-400 md:block'></div>
    <div class='space-y-6 rounded-md bg-gray-100 p-4 md:w-2/6'>
      <test-product-variant-selector
        id='variantSelector'
        variants='{{ product.variants | json | escape }}'
        options='{{ product.options | json | escape }}'
        product-handle='{{ product.handle }}'
      >
        {% render 'product-variant-selector' %}
      </test-product-variant-selector>
    </div>
  </div>
</div>
<test-cart-notification></test-cart-notification>
